{% extends 'register.html.twig' %}

{% block title %}Choix du type de compte{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}

    <section class="section_choice" id="choice-section">
        <div class="div-left_choice">
            <h4 class="title-creche_choice mb-5">Êtes-vous une crèche ?</h4>
            <img src="{{ asset('build/images/illustration-login.png') }}" class="illustration_choice align-self-center">
            {# Redirection vers l'inscription des crèches #}
            <a id="creche-choice" class="btn button-creche_choice mt-4 text-uppercase" href="#" data-role="ROLE_CRECHE">Je m’inscris en tant que crèche</a>
        </div>
        <div class="div-right_choice">
            <h4 class="title-parent_choice mb-5">Êtes-vous un parent ?</h4>
            <img src="{{ asset('build/images/illustration-login.png') }}" class="illustration_choice align-self-center">
            {# Redirection vers l'inscription des parents #}
            <a id="parent-choice" class="btn button-parent_choice mt-4 text-uppercase" href="#" data-role="ROLE_PARENT">Je m’inscris en tant que parent</a>
        </div>
    </section>

    <section id="form-section">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Register</h1>
        {{ form_errors(registrationForm) }}

        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <input id="roles" name="roles" type="hidden" value=""/>
        <button type="submit" class="btn">S'inscrire sur BabyPlace</button>
    </section>

    {{ form_end(registrationForm) }}

<script>
document.addEventListener('DOMContentLoaded', function () {
    // Cache les sections sauf la première
    document.getElementById('form-section').style.display = 'none';

    // Écouteurs d'événements pour les boutons de choix
    document.getElementById('creche-choice').addEventListener('click', function (event) {
        event.preventDefault(); // Empêche la navigation par défaut
        document.getElementById('choice-section').style.display = 'none';
        document.getElementById('form-section').style.display = 'block';
        document.getElementById('roles').value = this.getAttribute('data-role');
    });

    document.getElementById('parent-choice').addEventListener('click', function (event) {
        event.preventDefault(); // Empêche la navigation par défaut
        document.getElementById('choice-section').style.display = 'none';
        document.getElementById('form-section').style.display = 'block';
        document.getElementById('roles').value = this.getAttribute('data-role');
    });
});
</script>

{% endblock %}
