{{ form_start(formFamily) }}

    {{ form_row(formFamily.lastname) }}
    {{ form_row(formFamily.firstname) }}
    {{ form_row(formFamily.address) }}
    {{ form_row(formFamily.postalCode) }}
    {{ form_row(formFamily.city) }}
    {{ form_row(formFamily.phone) }}

    <button type="submit" class= "btn button_login mt-5 text-uppercase">Créer un compte</button>    {# Fin du formulaire  #}
{{ form_end(formFamily) }}