<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/logo-wild-code-school.svg') }}"/>
        <title>
            {% block title %}Liste des recherches - Parent{% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="body_search-parent">
        <!-- Searchbar -->
        <header class="header_search-parent">
            <nav class="navbar top-navbar_search-parent">
                <div class="div-searchbar_search-parent">
                    <form class="d-flex expanded-lg" role="search">
                    <input class="searchbar_search-parent" type="search" placeholder="Tapez votre recherche" aria-label="Search">
                    <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </nav>
            <div class="navbar sub-navbar_search-parent">
               <a href="{{ path('parent_filtres') }}" class="filter_search-parent"><i class="fa-solid fa-filter icon-filter_search-parent"></i>Filtres</a>
               <p class="mode_search-parent">Carte</p>
            </div>
        </header>
        {% block body %}
        <section class="section_search-parent">
            <div class="div_search-parent">
                <!-- Cards des crèches (penser à activer la boucle) -->
                {# {% for item in items %} #}
                <div class="card mb-5">
                    <div class="card-header_creche card-header position-relative">
                        <div class="div-card-img-top"></div>
                        <img class="card-img-top" src="{{ asset('build/images/image-card-creche.jpg') }}" alt="Card image cap">
                        <h5 class="card-title position-absolute bottom-0 start-0">Nom de la crèche</h5>
                        <i class="favoris_search_parent fa-solid fa-heart fa-lg position-absolute top-0 end-0"></i>
                        <p class="rate_search-parent position-absolute bottom-0 end-0">4,8  <i class="fa-solid fa-star"></i></p>
                    </div>
                    <div class="card-body position-relative">
                        <p class="lieu_search-parent card-text">Bordeaux, 500m</p>
                        <p class="prix_search-parent card-text position-absolute top-0 end-0">3,5€/j</p>
                        <table class="table reservations_search-list">
                            <tr>
                                <td class="day_search-list day-active_search-list">Lun. 14</td> {# vert #}
                                <td class="day_search-list">Mar. 15</td>
                                <td class="day_search-list">Mer. 16</td>
                            </tr>
                            <tr>
                                <td class="day_search-list">Jeu. 17</td>
                                <td class="day_search-list day-active_search-list">Ven. 18</td>
                                <td class="day_search-list">Sam. 19</td>
                            </tr>
                        </table>
                    </div>
                </div>
                {# {% endfor %} #}
                <!-- Fin des Cards des crèches (penser à activer la boucle) -->
            </div>
        </section>
        {% endblock %}
    </body>
</html>
