{% extends 'base.html.twig' %}

{% block title %}Child index{% endblock %}

{% block body %}
    <h1>Liste des enfants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Marcheur</th>
                <th>Allergies</th>
                <th>Handicap</th>
                <th>Type handicap</th>
                <th>Certificat de naissance</th>
                <th>Pédiatre</th>
                <th>Vaccins</th>
                <th>Assurance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for child in children %}
            <tr>
                <td>{{ child.id }}</td>
                <td>{{ child.childFirstname }}</td>
                <td>{{ child.childLastname }}</td>
                <td>{{ child.birthdate ? child.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ child.isWalking ? 'Yes' : 'No' }}</td>
                <td>{{ child.allergy }}</td>
                <td>{{ child.isDisabled ? 'Yes' : 'No' }}</td>
                <td>{{ child.disability }}</td>
                <td>{{ child.birthCertificate }}</td>
                <td>{{ child.doctorName }}</td>
                <td>{{ child.vaccine }}</td>
                <td>{{ child.insurance }}</td>
                <td>
                    <a href="{{ path('app_child_show', {'id': child.id}) }}">show</a>
                    <a href="{{ path('app_child_edit', {'id': child.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_child_new') }}">Create new</a>
{% endblock %}
