{{ form_start(formEmergency) }}
    {{ form_row(formEmergency.name)}}
    {{ form_row(formEmergency.lastname)}}
    {{ form_row(formEmergency.phoneContact)}}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(formEmergency) }}
