{{ form_start(formEmergency) }}
    {{ form_row(formEmergency.name, {'attr' : {'class': 'form-text_informations-personnelles mb-3' }}))}}
    {{ form_row(formEmergency.lastname, {'attr' : {'class': 'form-text_informations-personnelles mb-3' }}))}}
    {{ form_row(formEmergency.phoneContact, {'attr' : {'class': 'form-text_informations-personnelles mb-3' }}))}}

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(formEmergency) }}
