<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/logo-wild-code-school.svg') }}"/>
        <title>
            {% block title %}Choix du type de compte{% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <section class="section_choice">
            <div class="div-left_choice">
                    <h4 class="title-creche_choice mb-5">Êtes-vous une crèche ?</h4>
                    <img src="{{ asset('build/images/illustration-login.png') }}" class="illustration_choice align-self-center">
                    {# Redirection vers l'inscription des crèches #}
                    <a type="submit" class="btn button-creche_choice mt-4 text-uppercase">Je m’inscris en tant que crèche</a>
            </div>
            <div class="div-right_choice">
                    <h4 class="title-parent_choice mb-5">Êtes-vous un parent ?</h4>
                    <img src="{{ asset('build/images/illustration-login.png') }}" class="illustration_choice align-self-center">
                    {# Redirection vers l'inscription des parents #}
                    <a type="submit" class="btn button-parent_choice mt-4 text-uppercase">Je m’inscris en tant que parent</a>
            </div>
        </section>
        {% endblock %}
    </body>
</html>
